---
- name: Update APT cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Full system upgrade
  apt:
    upgrade: dist
    autoremove: yes

- name: Install security packages
  apt:
    name:
      - ufw
      - fail2ban
      - unattended-upgrades
    state: present

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Deny incoming by default
  community.general.ufw:
    direction: incoming
    policy: deny

- name: Allow outgoing
  community.general.ufw:
    direction: outgoing
    policy: allow

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Enable unattended-upgrades
  copy:
    content: |
      APT::Periodic::Update-Package-Lists "1";
      APT::Periodic::Unattended-Upgrade "1";
    dest: /etc/apt/apt.conf.d/20auto-upgrades

- name: Allow student sudo without password
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: '^student'
    line: 'student ALL=(ALL) NOPASSWD: ALL'
    validate: 'visudo -cf %s'

- name: restart unattended-upgrades
    service:
      name: unattended-upgrades
      state: restarted

